:host {
    font-size: 30px;
}

.list {
    font-size: 14px;
}

.link {
    display: flex;
    text-decoration: none;
    color: unset;
    padding: 4px 0px;
    & path {
        transition: 1s ease all;
    }
    & div {
        padding-left: 10px;
        flex: 0%;
    }
    & svg {
        margin-top: 5px;
    }
}
