---
template: default
singlePage: index
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        scroll-behavior: smooth;
        font-size: 14px;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      :root {
        --theme-font-title: "Poppins", sans-serif;
        --theme-font-body: "Roboto Mono", monospace;
      }
      body {
        font-family: var(--theme-font-body);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--theme-font-title);
      }
    </style>
    <link rel="stylesheet" href="./simple-doc.css" />
    <title>{{page.title}}</title>
    <script
      async
      type="module"
      src="./components/simple-doc-header/simple-doc-header.js"
    ></script>
    <script
      async
      type="module"
      src="./components/simple-doc-link-hash/simple-doc-link-hash.js"
    ></script>
    <script
      async
      type="module"
      src="./components/simple-doc-menu-burger-hash/simple-doc-menu-burger-hash.js"
    ></script>
  </head>
  <body>
    <header class="simple-doc-header box">
      {% if page.files.cover %}
      <div
        class="simple-doc-header part-cover"
        style="background:url({{page.files.cover}})no-repeat center/cover fixed"
      ></div>
      {% endif %}
      <simple-doc-header>
        <img
          width="150px"
          src="{{page.files.logo|default: page.logoUrl}}"
          slot="logo"
        />
        <nav slot="socials">
          {% if page.socials.twitter %}
          <a
            class="simple-doc-link mod-icon"
            href="{{page.socials.twitter}}"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20px"
              viewBox="0 0 512 512"
            >
              <path
                fill="#fff"
                d="M512 97.248c-19.04 8.352-39.328 13.888-60.48 16.576 21.76-12.992 38.368-33.408 46.176-58.016-20.288 12.096-42.688 20.64-66.56 25.408C411.872 60.704 384.416 48 354.464 48c-58.112 0-104.896 47.168-104.896 104.992 0 8.32.704 16.32 2.432 23.936-87.264-4.256-164.48-46.08-216.352-109.792-9.056 15.712-14.368 33.696-14.368 53.056 0 36.352 18.72 68.576 46.624 87.232-16.864-.32-33.408-5.216-47.424-12.928v1.152c0 51.008 36.384 93.376 84.096 103.136-8.544 2.336-17.856 3.456-27.52 3.456-6.72 0-13.504-.384-19.872-1.792 13.6 41.568 52.192 72.128 98.08 73.12-35.712 27.936-81.056 44.768-130.144 44.768-8.608 0-16.864-.384-25.12-1.44C46.496 446.88 101.6 464 161.024 464c193.152 0 298.752-160 298.752-298.688 0-4.64-.16-9.12-.384-13.568 20.832-14.784 38.336-33.248 52.608-54.496z"
              />
            </svg>
          </a>
          {% endif %} {% if page.socials.github %}
          <a
            class="simple-doc-link mod-icon"
            href="{{page.socials.github}}"
            target="_blank"
          >
            <svg
              viewBox="0 0 24 24"
              width="20px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 .5C5.37.5 0 5.78 0 12.292c0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56C20.565 21.917 24 17.495 24 12.292 24 5.78 18.627.5 12 .5z"
                fill="#fff"
              />
            </svg>
          </a>
          {% endif %}
        </nav>
      </simple-doc-header>
      {% if page.hero %}
      <div class="simple-doc-header part-center">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
      </div>
      {% endif %}
    </header>
    <main class="simple-doc-content box">
      <nav style="margin-left: auto;" class="simple-doc-content part-nav"></nav>
      <div class="simple-doc-content part-center" id="content">
        {% assign sections = pages|order: "order" %}
        <!---->
        {% for item in sections %}
        <section
          class="simple-doc-content part-section part-columns-{{item.columns}}"
        >
          {{item.content}}
        </section>
        {% endfor %}
      </div>
      <aside style="margin-right: auto;" class="simple-doc-content part-nav">
        <simple-doc-link-hash selector="#content" move-with-scroll>
          <h3 class="label">Contenido</h3>
        </simple-doc-link-hash>
      </aside>
      <simple-doc-menu-burger-hash
        selector="#content"
      ></simple-doc-menu-burger-hash>
    </main>
  </body>
</html>
