.cubo_box {
  perspective: 500px;
  --s: var(--cubo_size, 50px);
  --l: var(--cubo_large, var(--s));
  --z: calc(var(--s) * 0.5);
  --zn: calc(var(--s) * -0.5);
}
.cubo {
  width: var(--s);
  height: var(--s);
  position: relative;
  transform-style: preserve-3d;
  transform: var(--cubo_perspective);
}

.cubo,
.cubo * {
  transition: var(--cubo_speed, 0s ease all);
}

.cubo_face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.cubo_face-1 {
  transform: rotateX(90deg) translateZ(var(--z));
}
.cubo_face-2 {
  transform: rotateX(90deg) translateZ(var(--zn));
}
.cubo_face-3 {
  height: var(--l);

  transform: rotateY(90deg) translateZ(var(--z));
}
.cubo_face-4 {
  height: var(--l);

  transform: rotateY(90deg) translateZ(var(--zn));
}
.cubo_face-5 {
  height: var(--l);

  transform: translateZ(var(--z));
}
.cubo_face-6 {
  transform: translateZ(var(--zn));
}
