:host {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

:host([fixed]) {
  position: fixed;
}

:host([position="top"]) {
  left: 0px;
  top: 0px;
}
