:host{
    position: absolute;
    width: 100%;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    overflow: auto;
}

:host([fix="top"]){
    top: 0px;
    left: 0px;
}