:host {
  width: 100%;
  display: inline-block;
  color: var(--todo-input-color, #fff);
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  color: currentColor;
  font-size: 0.9em;
  font-family: unset;
  padding: 2rem 1rem 0.5rem;
  outline: none;
}

.label {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: 0px 0px;
  transition: 0.3s ease all;
}

.hr {
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 0.25;

  &.-for-focus {
    opacity: 1;
    height: 2px;
    max-width: 25%;
    transform-origin: left center;
    transition: 0.3s ease all;
    transform: scale(0, 1);
  }
}

input:focus ~ .label,
.placeholder.--with-content {
  transform: translateY(-150%);
  font-size: 0.8em;
}

input:focus ~ .-for-focus {
  transform: scale(1);
}
