:root {
  font-size: 20px;
  --th-bgcolor: black;
  --th-title-primary: white;
  @media (max-width: 1366px) {
    font-size: 16px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--th-bgcolor);
}

img,
video,
iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--th-title-primary);
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
}

app-container {
  position: relative;
}

/**globals**/
.o {
  &-fullpage {
    width: 100%;
    height: 100%;
  }

  &-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-mask {
    overflow: hidden;
  }

  &-padd {
    padding: 1rem 6.5rem;
    box-sizing: border-box;
  }

  &-maxwidth {
    max-width: 85rem;
    margin: auto;
  }
}

/**theme**/
.c-welcome {
  position: relative;
  &::after {
    width: 100%;
    height: 150px;
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, transparent, var(--th-bgcolor));
    content: "";
    left: 0px;
    bottom: 0px;
  }
  atomico-halo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_title {
    text-align: right;
    flex: 0%;
  }
  &_frame {
    position: relative;
    flex: 0%;
  }
}
