:host {
    color: white;
}
.button-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    border: none;
    background: var(--theme-primary, #37ffca);
    box-shadow: 0px 12px 22px
        var(--theme-primary-shadow, rgba(55, 255, 202, 0.25));
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0px;
    & > div {
        margin: auto;
        & > div {
            width: 21px;
            height: 2px;
            margin-bottom: 3px;
            background: white;
            border-radius: 10px;
            transition: 0.5s ease all;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &.is-show {
        & > div {
            & > div {
                &:nth-child(1) {
                    transform: rotate(135deg) translate(3px, -3px);
                }
                &:nth-child(2) {
                    transform: scale(1, 0);
                }
                &:nth-child(3) {
                    transform: rotate(-135deg) translate(4px, 4px);
                }
            }
        }
    }
}

.menu-scroll {
    width: calc(100% - 20px);
    height: auto;
    max-height: calc(50% - 10px);
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
    border-radius: 10px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.25);
    transition: 1s ease all;
    &.is-hidden {
        transform: translateY(120%);
    }
    &.is-show {
        transform: translateY(0%);
    }
}

.link {
    color: unset;
    display: flex;
    text-decoration: none;
    align-items: center;
    & > div {
        padding-left: 10px;
    }
}
