.c-avatar {
  width: 100%;
  display: flex;
  align-items: center;
  &_img {
    width: 4.3em;
    height: 4.3em;
    border-radius: 0.938em;
  }
  &_titles {
    padding-left: 1em;
    line-height: 2em;
  }
  &_fistTitle {
    font-size: 1em;
  }
  &_lastTitle {
    font-size: 1em;
  }
}
